body {
  background: rgba(0, 0, 0, 0.7);
  background-image: url("../image/skills.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  text-align: center;
  color: white;
}

h2 {
  color: white;
  position: relative;
}

img {
  padding-right: 300%;
}

td {
  padding-left: 15%;
}

h6 {
  color: white;
  font-size: 14px;
  display: inline;
  /* position: relative; */
  left: 30%;
  text-align: center;
}

.btn1 {
  padding-right: 20px;
}

.btn2 {
  padding-right: 20px;
}

.btn3 {
  padding-right: 20px;
}

.btn4 {
  padding-right: 20px;
}

.btn5 {
  padding-right: 20px;
}

.btn6 {
  padding-right: 20px;
}

h6:hover {
  color: gold;
}

a {
  text-decoration: none;
}
